body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
.hexColor{
    text-transform:capitalize ;
}
.hex{
    font-size: 3rem;
}
.hexBtn{
    color:maroon;

    
}
.hexBtn{
    color: darkred;
    padding: 5px 6px;
    border: 4px solid white;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    

}
.hexBtn:hover{
    background-color: black;

}